apiVersion: apps/v1
kind: Deployment
metadata:
  name: etos-suite-starter
  labels:
    app.kubernetes.io/name: etos-suite-starter
    app.kubernetes.io/part-of: etos
    app.kubernetes.io/component: suite-starter
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: etos-suite-starter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: etos-suite-starter
    spec:
      serviceAccountName: etos-suite-starter
      containers:
        - name: etos-suite-starter
          image: registry.nordix.org/eiffel/etos-suite-starter:1699fbc4
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: suite-runner-template
              readOnly: true
              mountPath: /app/suite_runner_template.yaml
              subPath: suite_runner_template.yaml
          envFrom:
            - configMapRef:
                name: etos-suite-starter
      volumes:
        - name: suite-runner-template
          configMap:
            name: etos-suite-runner-template
